@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

*::after,*::before{
    box-sizing: inherit;
}
/* General */

:root{
    --main-color:#b51d15;
    --gray-dark:#333;
    --bright-red:#ff1104;
    --brighter-brown: #f9d4d2;
    --bright-brown: #ffabab;
   --shadow:0 1px 10px rgba(0,0,0,0.4);
   --trans: all .3s ease-in-out;

.container{
    width: 80%;
    margin: auto;
}

ul{
    list-style: none;
}


a{
    text-decoration: none;
    color: black;
}
// section padding

.pd-y{
padding: 50px 0;
}

.section-header{
    text-align: center;
    margin-bottom: 25px;
    &:hover .line{
        width: 150px;

    }
    .section-title{
        font-size: 2rem;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .line{
        display: block;
        width: 70px;
        margin: auto;
        height: 2px;
        background: var(--main-color);
        transition: width .2s ease-in-out;
    }
}

header{
    padding: 20px 0;
    box-shadow: 0 1px 10px rgba(0,0,0,0.2);
    min-width: 300px;
}
header .header-content{
   display: flex;
   justify-content: space-between;
   align-items: center;
 
   .login{
    text-align: right;
    margin: 0;
    ul{

        li{
            font-size: 1rem;
            margin: 0 10px;
            .cart {
                position: relative;
            }
            .cart:after{
                position: absolute;
                content: "0";
                /* width: 18px; */
                /* height: 18px; */
                background-color: var(--main-color);
                color: #fff;
                font-size: 9px;
                top: -7px;
                right: -8px;
                padding: 8px 5px;
                border-radius: 50%;
            }
        }
    }
   }
   img{
    max-width: 150px;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }

   }
   ul{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
   position: relative;
   flex:3;
    li{
       
        position: relative;
        display: inline-block;
        color: var(--gray-dark);
        
      .link-item:hover:before{
       
            transform: scale3d(1,1,1);
        
      }
       .link-item:hover:after{
       
            transform: scale3d(1,1,1);
        
      }
        a{
           padding: 20px;
            color: var(--gray-dark);
           text-align: center;
        }
         .link-item:before{
            content: "";
            position: absolute;
            border-width: 0 2px;
            border-color: var(--main-color);
            border-style: solid;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: scale3d(1,0,1);
          transition: all 0.2s ease-in-out ;
           }
         .link-item:after{
            content: "";
            position: absolute;
            border-width: 2px 0;
            border-color: var(--main-color);
            border-style: solid;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            transform: scale3d(0,1,1);
          transition: all 0.2s ease-in-out ;
         
          transition-delay: 0.15s;
           }
    }
    
   }
   .nav_toggle{
    cursor: pointer;
    font: 1.1rem;
   }
}


// Dropdown
.dropdown{
    position: relative;
    &:hover .dropdown-menu{
        transform: scale(1);
        visibility: visible;
        opacity: 1;
    }
}
.dropdown-menu{
    position: absolute;
    width: 200px;
    background-color: #fff;
    border: 1px solid var(--main-color);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    transform: scale(0);
   opacity: 0;
    transition: transform .2s ease-in-out , visibility .2s ,opacity .2s;
    transform-origin: left top;
    visibility: hidden;
    z-index: 10;
    ul{
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
       li:first-child{
        text-align: left;
        display: block;
       }
       li{
        
        line-height: 1.7;
       }
        }
    }


//Slider


.slider { 
  .container{
   
    img{
        width: 100%;
        border-radius: 10px;
    }
  }
}
.banner2{
    display: none;
}
.banner1{
    display: block;
}

//Category section

.category-items{
 
    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-content: center;
    grid-gap:20px;
    margin-bottom: 25px;
    .category-item{
        position: relative;
        cursor: pointer;
        &:hover i{
            opacity: 1;
            visibility: visible;
        }
        &:hover img{
            box-shadow: var(--shadow);
        }
    }
 img{
    border-radius: 10px;
    width: 100%;
    transition: all .2s ease-in-out;
 }

 .category-item-subtitle{
    color:gray;
    font-size: .9rem;

 }
 .category-item-title{
    font-size: 1.3rem;
    text-transform: capitalize;
 }
 i{
   font-size: .8rem;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    background-color: var(--main-color);
    color: #fff;
    display: block;
    text-align: center;
    line-height: 25px;
    border-radius: 3px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
 }
}
}

.discount{
    margin: 50px 0;
    display: flex;
    gap:20px;

    .discount-desc{
        position: relative;
        background-color: var(--brighter-brown);
        padding: 20px;
        border-radius: 10px;
        flex: 2;
        order: 3;
        .top{
            position: relative;
            padding-left: 60px;
            margin: 10px 0;
            i{
                position: absolute;
                font-size: 3.5rem;
                top: 27px;
                left: 0;
            }
            &+p{
                line-height: 1.8;
            }
        }
        .bollets{
            text-align: right;
            position: absolute;
            bottom:30px;
            right: 25px;
           span{
            display: inline-block;
            width: 50px;
            height: 2px;
            margin-left: 10px;
            background-color: #7b5244;
           
           }
        }
    }
    .discount-item{
        
        padding: 20px;
        border-radius: 10px;
        flex: 1;
        height: 470px;
        background-image: url('../images/cms-banner-2.jpg');
        background-position: center;
        background-size: cover;
        transition: transform .3s ease-in-out;
        overflow: hidden;
        &:hover{
            transform: scale(1.1);
        }
        .discount-item-info{
            span{
                font-size: 1rem;
                color: var(--brighter-brown);
            }
            h2{
                color: #fff;
            }
        }

    }
    .Omar{
        order: 1;
        background-image: url("../images/cms-banner-1.jpg");
        background-size: cover;
    }
    .Ahmad{
        order: 2;
    }
} 

//SPRITES

.sprite{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding: 50px 0;
    gap: 20px;
    .sprite-item{
        flex: 1;
        text-align: center;
        border-right:1px solid rgba(0,0,0,0.2);
        background-color: rgba(231, 231, 231,0.2);
        padding: 30px 20px;
        border-radius: 15px;
        h3{
            font-size: 1rem;
        }
        span{
            font-size: .7rem;
            font-weight: normal;
            color: gray;
        }
        .sprite-icon{
            background-image: url(../images/service-icon.png);
            background-repeat: no-repeat;
            height:  50px;
            transition: background-position 0.6s ease-in-out;
            
        }
        
        
        .sprite-icon-1{
            background-position: center 5px;
        }
        .sprite-icon-2{
            background-position: center -180px;
        }
        .sprite-icon-3{
            background-position: center -365px;
        }
        .sprite-icon-4{
            background-position: center -550px;
        }
        .sprite-icon-5{
            background-position: center -736px;
        }
    }
    
    .sprite-item:hover .sprite-icon-1{
        background-position: center -87px;
    }
    .sprite-item:hover .sprite-icon-2{
        background-position: center -272px;
    }
    .sprite-item:hover .sprite-icon-3{
        background-position: center -459px;
    }
    .sprite-item:hover .sprite-icon-4{
        background-position: center -645px;
    }
    .sprite-item:hover .sprite-icon-5{
        background-position: center -827px;
    }
}


// Products //

.products{
    .container{
        
        .product-list{
            margin: 20px 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li{
                padding: 20px;
                a{
                    
                    font-size: 1.2rem;
                    color: gray;
                    cursor: pointer;
                    &:hover{
                        color: var(--main-color);
                      
                    }
                }
               
            }
        }
        
    }
}
.product-items{
    display: grid;
   grid-template-columns: repeat(3,1fr);
   justify-content: center;
   align-items: center;
   column-gap: 10px;
   row-gap: 40px;
 
}
.product-img {
    position: relative;
    text-align: center;
    img{
        border-radius: 10px;
       width: 80%;
    }
    .product-overlay{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scaleX(0);
        transition: transform .2s ease-in-out;
        img{
            border-radius: 10px;
        }
        ul{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: flex;
            li{
                margin: 0 10px;
                a{
                    i{
                        font-size: .8rem;
                        padding: 10px;
                       border: 2px solid #fff;
                       border-radius: 50%;
                       color: #fff;
                       box-shadow: 0 1px 1px #000;
                    }
                }
            }
        }
    }
    
}

.product-item:hover .product-overlay{
    transform: scaleX(1);
}

.product-desc{
    display: flex;
    flex-direction: column;
    text-align: center;
   .stars{
    
    i{
        color: gray;
        display: inline-block;
        font-size: .8rem;
    }
    .active{
        color:orange ;
    }
   }
    span{
        color: gray;
        font-size: 1.3rem;
    }
    .price{
        font-size: 1.4rem;
        color: #000 ;
        font-weight: 900;
    }
    
}



// footer
.footer{
    background-color: #000;
    color: #fff;
   
    li{
        margin: 20px 0;
        font-size: .8rem;
      a{
       
        color:rgb(139, 139, 139)
      }
    }
    ul{
        margin-top: 20px;
    }

   .container{
    display: flex;
    flex-direction: row;
    gap: 50px;
   }
    .company-info{
        flex: 3;
        img{
            width: 130px;
            height: 130px;
        }
        p{
            color:rgb(139, 139, 139);
            font-size:.8rem;  
        }
    }
    .my-account{
        flex: 1;
        ul{
            li{
                
            }
        }
    }
    .information{
flex: 1;
    }
    .subscribe-now{
flex: 1;
margin-top: 20px;
        input{
            margin: 20px 0;
            border: none;
            background:none;
            border-bottom: 1px solid rgb(139, 139, 139);
            padding-right: 20px;
            color: #fff;
        }
    }
   
}


@media screen  and ( max-width: 700px ){
    .header-content{
       flex-direction: column;
    }
    .category-items{
 
        display: grid;
        grid-template-columns: repeat(1,auto) !important;
    }
    .discount{
        display: flex;
        flex-direction: column;
    }
    .Ahmad , .Omar{
        min-height: 400px;
    }
    .product-items{
        display: grid;
       grid-template-columns: repeat(2,1fr) ;
       gap: 20px;}
    .sprite{
        flex-direction: column;
    }
   
    .footer{
        .container{
            flex-direction: column !important;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
    .banner2{
        display: block !important;
    }
    .banner1{
        display: none !important;
       
    }
    .slider .container{
        width: 100% !important;
    }
    .bollets{
        display: none;
       }
}

@media ( max-width: 400px ){
    .product-items{
        display: grid;
       grid-template-columns: repeat(1,1fr) !important;
       gap: 20px;}
      
}